:root {
    --background: #dfe6e9;
    --altbackground: #b2bec3;
    --accent: #0eaa2a;
    --text: #2d3436;
    --alttext: #636e72;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h1,h2,h3,h4, li
{
    font-family: Mingzat;
}

p {
    font-family: Montserrat;
}

.banner {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: var(--altbackground);
}

nav {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 18px 0;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  padding-left: 1%;
  align-items: flex-start;
  color: var(--accent);
  font-size: 1.8em;;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}


nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  border: 0.3em solid transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav ul li a:hover {
  border-bottom: 0.3em solid var(--accent);
}

.box-tiles{
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    background: var(--background);
}

.box-tiles-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 0;
}

.box-tiles-title h1 {
    font-weight: bold;
    font-size: 3em;
    padding: 2%;
}

.box-tiles-title p {
    font-size: 1.2em;
}

.box-tiles-item-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top: 10px;

}

.box-tiles-item-container .items{
    width: auto;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px 5%;
    border-radius: 10px;
    position: relative;
    border: 0.5em solid transparent;
    
}

.box-tiles-item-container .items:hover{
    border: 0.5em solid var(--accent);
}

.box-tiles-item-container .items i{
    height: 1.1em;
    align-self:center;
    font-size: 3em;
}

.box-tiles-item-container .items h2 {
    align-self: center;
    padding: 0.3em;
    font-size: 1.5em;
}

.box-tiles-item-container .items p {
    align-self: center;
    font-size: 0.8em;
    padding: 0.8em;
}

.work-container{
    flex-direction: row;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    background: var(--background);
    padding: 1em 0;
}

.work-header h1{
    font-weight: bold;
    font-size: 2.5em;
    padding: 1em;
}

.work-header p {
    font-size: 1.2em;
}


.company-logos {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.company-logos img {
   display: flex;
    object-fit: contain;
    padding: 1em;
    width: auto;
    height: 100px;
    opacity: 0.5;
    
}

.company-logos img:hover {
    opacity: 1;
}



.contacts {
    position: relative;
}

.contacts h1 {
    display: flex;
    font-weight: bold;
    font-size: 2.5em;
    padding: 1em;
    justify-content: center;
}


.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3em;
}

.icon-container a {
    font-size: 5em;
    color: var(--text)
}

.icon-container a:hover {
    color: var(--accent);
}

.footer {
    padding-left: 10em;
    padding: 2em;
    text-align: center;
}