<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
    		 <ul>
             		<li><a href="/">Home</a></li>
		          <!--  <li><a href="/about">About</a></li>	 
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/tutorials">Tutorials</a></li>
        	     	<li><a href="/cv">CV</a></li> -->
                    <li><a href="/blog">Blog</a></li>
    		 </ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        	<li><a href="mailto:samiul.hoque.mail@gmail.com">email</a></li>
			<li><a href="https://www.instructables.com/member/ArtisTech/" target="_blank">Instructables</a></li>
			<li><a href="https://twitter.com/ArtisTech_" target="_blank">Twitter</a></li>
			<li><a href="https://www.linkedin.com/in/s026hoque/" target="_blank">LinkedIn</a></li>
			<!--
			<li><a href="https://github.com/samiul-hoque" target="_blank">github.com/samiul-hoque</a></li>
			-->
			</ul>
			</footer>
		</body>
	</html>
